SECRET_KEY=replace-me-with-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/whatbytes
JWT_ACCESS_LIFETIME=300
JWT_REFRESH_LIFETIME=86400
